body{background-color: #232323;
    margin: 0;
    font-family:"Montserrat";}


.square {width: 30%;
         background: purple;
         padding-bottom: 30%;
        float: left;
        margin: 1.66%;
        border-radius: 20%;
        transition: background 0.6s;
         }

#container {margin: 20px auto;
            max-width: 600px;}

h1 {text-align: center;
	line-height: 1.1;
	color: white;
    background: steelblue;
    margin: 0;
    padding: 20px 0;
    font-weight: normal; 
    text-transform: uppercase;} 

#colorDisplay {font-size: 180%;
}    

#message {display: inline-block;
	width: 20%;
}
 
#stripe {background: white;
        height: 30px;
        text-align: center;}  

.selected {color: white;
           background: steelblue;}  

button {border: none;
        background: none;
        text-transform: uppercase;
        height: 100%;
        font-weight: 700;
        color: steelblue;
        letter-spacing: 1px;
        font-size: inherit;
        transition: all 0.3s;
        outline: none; }

button:hover {color: white;
             background: steelblue;}